# trasnformers
dotenv
langchain
langchain-community
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_groq
beautifulsoup4
streamlit
langchain_core
fastapi
uvicorn
langserve
langgraph
pypdf
duckduckgo
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo-search
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchainhub